.tweetList-container {
    margin-block-start: 2rem;
    display: grid;
    place-items: center;
}

.tweetList {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    max-height: 500px;
    overflow-y: auto;
}